/.idea/
/mars-rover-kata.iml
mars-rover/target/mars-rover-1.0-SNAPSHOT.jar
mars-rover/target/maven-archiver/pom.properties
mars-rover/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
*.lst
/mars-rover/target/
